{% extends 'base.html' %}
{% load static %}

{% block title %}
    my blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'blog/post.css' %}"/>

{% endblock css_files %}

{% block content %}
     

    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/me.jpeg' %}" alt="Wiembe author of this blog"/>
            <h2> Wiembe's blog</h2>

        </header>
        <p> this is my personel blog</p>
    </section>

    <section id="latest-posts">
        <h2>My latest posts</h2>

        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2> Who am i</h2>
        <p> lorem ipsum bla bla </p> 
{% endblock content %}
